* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --gray-100: #f8f8f8;
  --gray-800: #282c34;
  --pink: #ff57b2;
}

body {
  background: var(--gray-800);
}
