.posts {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Inter';

  .a {
    text-align: justify;
    text-decoration: none;
    color: #f8f8f8;

    .title {
      font-size: 1.75rem;
      line-height: 2.11rem;
      font-weight: 700;
    }
    .subtitle {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-size: 1.12rem;
      line-height: 1.36rem;
      font-weight: 400;
    }
    .dateAuthor {
      display: flex;
      font-size: 1.12rem;
      line-height: 1.36rem;
      font-weight: 400;
      margin-bottom: 3rem;

      .date {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        svg {
          margin-right: 0.5rem;
        }
      }

      .author {
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
.more {
  font-size: 1.12rem;
  line-height: 1.36rem;
  font-weight: 600;
  color: var(--pink);
  margin-top: 4rem;
  &:hover {
    cursor: pointer;
  }
}
